<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body, html {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 100px
    ),
    repeating-linear-gradient(#95b0ce8a, #c7b2e4);
}
      .form-container {
        border-right: 1px solid #1f2133;
        align-items: start;
        display: flex;
        gap: 9px;
        width: fit-content;
        background-color: white;
        width: 70%;
        height: 100%;
      }
     .options {
        display: inline;
        width: fit-content;
     }
     .options form {
        width: 200px;
     }
     nav {
     display: inline-block;
     width: fit-content;
     height: 100%;
     }
    </style>
</head>
<body>
 <div class="form-container">
    <nav>
        <ul>
            <li><a>Account info</a></li>
            <li><a>User data</a></li>
        </ul>
    </nav>
    <div class="options">
        <form  method="POST">
         <label>Change username:</label>
         <input type="text" value="">
         <label>Change email:</label>
         <input type="email" >
         <label>Confirm password:</label>
         <input type="password">
         <label>Change password:</label>
         <input type="password">
         <input type="submit" value="save">
        </form>
        </div>
 </div>
</body>
</html>